# Ignore build directory (CMake's generated build files)
build/

# Ignore frames folder (Picture mode)
frames/

# Ignore object files, libraries, and executables
*.o
*.obj
*.so
# *.a  #// static libs
*.dylib
*.exe
*.out
.cache/

# Ignore CMake-related files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Ignore IDE-specific files (if applicable)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
# Eclipse IDE
*.project
*.cproject

# Ignore system-specific files
#   for Apple
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore binary directories
bin/

# Ignore backup files
*~
